
/* Main Container */
.clientes_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 10;
}
.clientes_contenedor Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.clientes_contenedor .list-view {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}

/* Header */
.header_container {
    -fx-background-color: linear-gradient(to right, #00008B, #87CEEB);
    -fx-alignment: center_left;
    -fx-padding: 10;
}

.header_container Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Tabla */
.table_container {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA, 5, 0, 0, 4);
}

.table_container TableView {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.table_container TableColumn {
    -fx-text-fill: #000000;
}

/* Total Label */
.total_labels_container {
    -fx-alignment: center_right;
    -fx-spacing: 15;
    -fx-padding: 10;
}

.total_labels_container Label {
    -fx-font-size: 24px;
}

/* Input Fields */
.input_fields_container {
    -fx-alignment: center;
    -fx-spacing: 15;
    -fx-padding: 10;
}

.input_fields_container TextField {
    -fx-pref-width: 150px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(two-pass-box, #DDDDDD, 5, 0, 0, 4);
}

.input_fields_container TextField:focused {
    -fx-border-color: #4caf50;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
}

/* Buttons */
.buttons_container {
    -fx-alignment: top_center;
    -fx-spacing: 20;
    -fx-padding: 10;
}

.clientes_button_add {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-background-radius: 5;
    -fx-font-family: "Calibri Light";
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.clientes_button_add:hover {
    -fx-cursor: hand;
    -fx-background-color: #4caf50;
}

.clientes_button_elim {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-background-color: linear-gradient(to right, #351218, #5c1313);
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-background-radius: 5;
    -fx-font-family: "Calibri Light";
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 3, 0, 0, 3);
}

.clientes_button_elim:hover {
    -fx-cursor: hand;
    -fx-background-color: #af4c4c;
}

.error_lbl {
    -fx-text-fill: #FF0000;
}